#root {
  width: 420px;
  height: 100%;
  background: rgb(226, 224, 224);
  border-radius: 8px;
  border: 2px black solid;
  margin: 10px auto;
  box-sizing: border-box;
  /* min-width: 35%;
  width: 50vh;
  min-height: 30vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  border-radius: 5px;
  margin: auto;
  padding: 30px; */
}

.formBasic {
  margin: 10px 20px 10px 23px;
}
button {
  width: 90px;
  height: 40px;
  background: rgb(142, 243, 142);
  border-radius: 8px;
  border: 2px black solid;
  box-sizing: border-box;
}
.inputBasic {
  margin: 0px 6px;
}
.inputBasic {
  width: 180px;
  height: 40px;
  border-radius: 8px;
  border: 2px black solid;
  text-align: center;
  padding: 0 15px;
  box-sizing: border-box;
}

.createCard {
  width: 373px;
  height: 100px;
  background: rgb(226, 224, 224);
  border-radius: 8px;
  border: 2px black solid;
  margin: 10px 20px 10px 23px;
  box-sizing: border-box;
}
.createCard {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox {
  width: 15px;
  height: 15px;
  border: 2px black solid;
  cursor: pointer;
}
.inputText {
  width: 180px;
  height: 40px;
  background: rgb(245, 244, 244);
  border-radius: 8px;
  border: 2px black solid;
  text-align: center;
  padding: 10px 0 0 0;
  margin: 5px 25px 0px 25px;
  box-sizing: border-box;
}

.deleteButton {
  width: 24px;
  height: 24px;
  background: rgb(142, 243, 142);
  border-radius: 6px;
  border: 2px black solid;
}
.date {
  width: 90px;
  background: rgb(245, 244, 244);
  border-radius: 6px;
  text-align: center;
  margin-top: 10px;
  padding: 4px 0;
  font-size: 14px;
}
.deleteButton {
  margin: 0 0 0 68px;
}

/* делаем цветной чекбокс с новой галочкой */
.checkbox {
  appearance: none;
  width: 24px;
  height: 24px;
  background: rgb(142, 243, 142);
  border: 2px black solid;
  border-radius: 6px;
  position: relative;
}
.checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  display: block;
  background: transparent;
}
.checkbox:checked::before {
  background: url(../todo-list/checkbox.png);
}
